  <div class="main-content">
      <div class="section__content section__content--p30">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-8">
                      <div class="card">
                          <div class="bg-header" style="background-image:url(https://media.giphy.com/media/3tKhIPrQvT7XVqQKIm/giphy.gif);">
                          <div class="bg-overlay"></div>
                      </div>
                          <div class="card-body new-post">
                              <!-- <h5 class="card-title">Make a request for data!</h5> -->
                              <a class="btn btn-lg btn-block btn-dr" href="/posts/new" role="button"><i class="fa fa-plus-circle icon-space"></i> New Post</a>
                          </div>
                          <ul class="list-group list-group-flush">
                            <% Post.all.each do |post| %>
                              <div>
                                <li class="list-group-item list-grp-bdy">
                                  <div class="post-img">
                                    <%= post.id %>
                                  </div>
                                  <div>
                                  <% post.id %><a href="/posts/<%= post.id %>"><%= post.description %></a><br>
                                  <% post.user_id %>
                                  <% u_name = User.find(post.user_id).username %>
                                  posted by: <%= u_name %><br>
                                </div>
                                </li>
                              </div>
                            <% end%>

                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Posts user disbrution</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Data request submissions</h6>
                          <%= pie_chart Post.group(:user_id).count, colors: ["#9fffe0", "#2bbd7e", "#69f0ae"] %>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                          <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
                  </div>

              </div>

          </div>
      </div>
  </div>
