
    <p>Crowd sourced data</p>

    <div class="content">
      <p>Data-requesta let's you request big data for your latest data science projects.
        Just make a request and our crowd sourcers will find exactly the data you're looking for! <br><br>
      </p>
    </div>


    <div class="post_listings">
      <%= @posts_available %>
    </div>

    <div class="post_listings">
      <% Post.all.each do |post| %>

        <a href="/posts/<%= post.id %>"><%= post.description %>-<%= post.id %>- <%= post.user_id %></a>
        <% u_name = User.find(post.user_id).username %>
        <%= u_name %><br>

      <% end%>
    </div>
