<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Data-Requesta</title>

    <link rel="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link rel="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="vendor/font-awesome-5/css/fontawesome-all.min.css"/> -->



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dhurjati|Poppins:800|Sarpanch:800&display=swap" >

    <!-- Main CSS-->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/vendor/chartkick.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>

</head>

<body class="">
    <div class="">
        <!-- PAGE CONTAINER-->
        <div class="">
            <!-- HEADER DESKTOP-->
            <header class="header-main">
              <ul class="top-navx" role="navigation">
                <li><div class="logo-txt">Data Requesta</div></li>
                <li class="nav-search-bar"><form><input class="search-bar-input" placeholder="search data requests"/></form></li>
                <li class="nav-search-btn">
                  <button class="nav-search-btn-btn" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </li>
                <li><i class="fa fa-home"></i></li>
                <li><a href="/">Home</a></li>
                <i class="fa fa-plus-square"> </i>
                <li><a href="/posts"> Posts</a></li>
                <!-- <li><i class="fa fa-bell-o"></i>Posts</li>
                <li><i class="fa fa-envelope-o"></i>categories</li> -->
                <li><i class="fa fa-user-circle-o"></i></li>
                <li><p id="nav-usr-txt"><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal"><%=show_username%></a></p>
              </ul>
            </header>


            <!-- MAIN CONTENT-->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Data Requesta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a class="<%=tog_el_out%>" href="/profile">Profile</a><br>
          <a class="<%=tog_el_out%>" href="/logout">Log Out</a>
          <div class="sidebar">
            <div class="log-formx">
              <div class="log-in-form <%=tog_el%>">
                <h3>Log In</h3>
                  <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input class="form-inputx"type="text" name="username" id="username"><br>
                    <label for="password">Password</label>
                    <input class="form-inputx" type="text" name="password" id="password"><br>
                    <input class="log-sign-btn-modal" type="submit" value="Login" id="submit">
                  </form>
                </div>
            </div>
              <div class="sign-in-form <%=tog_el%>">
                <h3>Sign Up</h3>
                <form action="/signup" method="POST">
                  <label for="username">Username:</label>
                    <input class="form-inputx" type="text" name="username" id="username"><br>
                    <label for="email">Email:</label>
                    <input class="form-inputx" type="text" name="email" id="email"><br>
                    <label for="password">Password:</label>
                    <input class="form-inputx" type="text" name="password" id="password"><br>
                    <input class="log-sign-btn-modal" type="submit" value="Sign Up" id="Submit">
                </form>
              </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--flash msg -->
  <div class="flash-msg">
    <div class="fail-logsignx"><%= flash[:fail_signup]%></div>
    <div class="fail-logsignx"><%= flash[:fail_login]%></div>
  </div>
  <!--flash msg -->
            <%=yield%>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Made with <i class="fa fa-heart"></i> by FlatIron Student Yonnick || Kcinnoy</p>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER -->
          </div>
        </div>
    </div>



    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <!-- <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script> -->
    <script src="/vendor/bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <!-- <script src="/vendor/chartkick.js"></script> -->

    <!-- Vendor JS       -->
    <script src="/vendor/wow/wow.min.js"></script>

    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script> -->



</body>

</html>
<!-- end document-->
