<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>DataRequesta</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <div class="container">

          <div class="col-md-8 col-md-offset-2">

            <h2>Layout header, <%= @show_user %></h2>
            <%if logged_in? %>
              <a href="/logout">Logout</a>
              <%else %>
              <a href="#">Login Sign up</a>
            <%end%>
            <a href="/profile"><%= @show_user%></a> <br>

            <%= yield %>

            <div class="sidebar">
              <%= flash[:fail_signup]%>
              <%= flash[:fail_login] %><br>
              <h3>Log In</h3>
              <div class="log_in_form">
                <form action="/login" method="POST">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username"><br>
                  <label for="password">Password</label>
                  <input type="text" name="password" id="password"><br>
                  <input type="submit" value="Login" id="submit">
                </form>
              </div>
              <br><br>
              <div>
                <h3>Sign Up</h3>
                <form action="/signup" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username"><br>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email"><br>
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password"><br>
                    <input type="submit" value="Sign Up" id="Submit">
                  </form>
              </div>

            </div>

          </div>
        </div>

      <footer class="branding">
        <small>&copy; 2019 <strong>DataRequesta</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
